<div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-light fixed-top"
    style="background-color: #A5F3FC;"
  >
    <a class="navbar-brand" href="#">Customer Service</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/reports">Скарги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buys">Покупка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Продукти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers">Клієнти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/salespeople">Продавці</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees">Працівники</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
